@font-face {
    font-family: 'Foggy';
    src: url(fonts/foggy-regular.ttf);
}

@font-face {
    font-family: 'Favorit';
    src: url(fonts/favorit-regular-webfont.ttf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
    margin: 0;
    padding: 0;
}

.header-container{
    font-family: 'Foggy', sans-serif;
    display: flex;
    flex-direction: row;
    color: #000;
    align-items: center;
    justify-content: space-between;
    position:absolute;
    width: 100%;
    z-index: 1000;
    padding: 5px 75px;
    background-color: rgba(255, 255, 255, 0.258);
}

.logo-container{
    padding: 10px 0;
    z-index: 1001;
    width: 100%;
    color: #000;
}

.menu-wrapper ul{
    list-style-type: none;
    display: inline-flex;
}

.menu-wrapper ul li{
    padding-right: 50px;
    font-family: 'Favorit', sans-serif;
}

.menu-wrapper ul li:last-child{
    padding-right: 0;
}

.menu-wrapper ul li a{
    text-decoration: none;
    color: #000;
}

.menu-wrapper ul li a:hover{
    text-decoration: underline;
    text-underline-offset: 5px;
}

/* Media query for small screens */
@media screen and (max-width: 968px) {
    .header-container {
        justify-content: space-between; /* Ensure logo and menu icon are at opposite ends */
        flex-wrap: wrap; /* Allow elements to wrap */
    }

    .header-wrapper {
        justify-content: flex-end; /* Align items to the right */
        flex: 1 1 100%; /* Take full width */
    }

    .menu-icon{
        display: flex; /* Show menu icon */
        align-items: center;
        cursor: pointer;
        font-size: 20px;
        position: fixed;
        top: 0;
        right: 0;
        padding: 20px 25px;
        margin: 0 15px;
        color: #000;
    }

    #nav-links {
        display: none; /* Hide nav-links by default */
        flex-direction: column;
        background-color: #fff;
        position: absolute;
        top: 100%; /* Position below the header-wrapper */
        right: 0;
        width: 100%;
    }

    #nav-links.active {
        display: flex; /* Show nav-links when active */
        padding: 0 25px;
        margin-top: 0;
        background-color: rgba(170, 170, 170, 0.283);
    }

    #nav-links.active li{
        padding: 5px 0;
    }

    .banner{
        display: block;
        padding: 0 50px;
        background-color: #000;
        color: #fff;
        min-height: 50vh;
        width: 100%;
    }

    .col-left{
        width: 100%;
    }

    .col-right{
        width: 100%;
    }
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

[class*="col-"] {
    float: left;
}

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

#home{
    display: flex;
    flex-direction: row;
    gap: 2cm;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    min-height: 110vh;
    background-image: url(smiley.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

.hero-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 0 25px;
}

.welcome-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    color: #000;
    padding-left: 50px;
    text-align: left;
}

#hero{
    font-family: 'Foggy', sans-serif;
    font-size: 95px;
    margin-bottom: 15px;
    border-color: #000;
    border-width: 1px;
}

.welcome-text p{
    font-family: 'Favorit', sans-serif;
    font-size: 17px;
}

button{
    font-family: 'Favorit', sans-serif;
    font-size: 14px;
    padding: 10px 40px;
    color: #fff;
    background-color: #000;
    border-color: #000;
    margin: 20px 0 0 0;
}

button:hover{
    background-color: #00000095;
}

.mission{
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    gap: 0;
    align-items: center;
    justify-content: center;
    padding: 0 60px;
    background-color: #fffdf8
}

.mission-text{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: center;
    width: 50%;
    padding-right: 30px;
}

.mission-text-ctn{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    text-wrap:wrap;
    max-width: 100%;
    padding: 20px 40px;
}

#mission-heading{
    font-size: 40px;
    padding-bottom: 40px;
}

#mission-statement{
    padding-bottom: 40px;
    line-height: 0.6cm;
    font-size: 14px;
}

.mission-text-ctn a{
    padding-bottom: 15px;
    font-size: 14px;
    text-decoration: none;
}

.mission-text-ctn a:hover{
    text-decoration: underline;
    text-decoration-color: #763ede;
    text-underline-offset: 7px;
    text-decoration-thickness: 1px;
}

.mission-photo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 50%;
    padding-left: 30px;
}

.mission-photo img{
    width: 80%;
    height: 60%;;
    object-fit: cover;
}

.video{
    min-height: 50vh;
    height: 80vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.video video{
    max-width: 70%;
    height: 90%;
    width: auto;
}


.banner{
    display: flex;
    flex-direction: row;
    background-color: rgb(0, 0, 0);
    color: #fff;
    min-height: 50vh;
    width: 100%;
    border-bottom: 1px solid #fff;
}

.banner-header{
    display: flex;
    padding: 45px 0 0 75px;
    margin-right: 30px;
    font-family: 'Favorit', sans-serif;
}

.banner-text{
    display: flex;
    flex-direction: column;
    padding: 45px 45px;
    font-family: 'Favorit', sans-serif;
    line-height: 0.7cm;
    font-size: 17px;
}

.articles{
    min-height: 100vh;
    color: #000;
}

.article-header{
 padding: 40px 75px 20px 30px;
}

.articles h1{
    font-family: 'Foggy', sans-serif;
    font-size: 60px;
    padding: 0 0 10px 0;
}

.articles p{
    font-family: 'Favorit', sans-serif;
}

.article{
    min-height: 60vh;
}

.article-img{
    min-height: 40vh;
    width: 100%;
    display: flex;
    padding: 0 30px;
}

.article-img img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.article-text{
    padding: 20px 30px;
    font-family: 'Favorit', sans-serif;
}

.article-text h2, p{
    margin-bottom: 10px;
}

.gallery{
    min-height: 150vh;
    margin: 3cm 0;
}

.gallery .row{
    min-height: 50vh;
}

.img-gallery{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    margin-left: 75px;
}

.img-gallery img{
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.gallery .gallery-text{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    padding: 0 75px 0 50px;
    font-family: 'Favorit', sans-serif;
    font-size: 17px;
}

.gallery .gallery-text h2{
    padding-bottom: 25px;
    font-size: 40px;
}

.gallery .gallery-text p{
    padding-bottom: 25px;
}

.row{
    padding: 0 15px;
    width: 100%;
}

.hook{
    min-height: 70vh;
    width: 100%;
    margin: 50px 0 50px 25px;
    background-color: #763ede;
    color: #fff;
    border-bottom: 1.5px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 70px 50px;
}

.hook h1{
    font-family: 'Foggy', sans-serif;
    font-size: 80px;
}

.info{
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
}

.info .right{
    min-height: 100vh;
}

.info .right img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#l1{
    background-color: #fff;
    min-height: 50vh;
}

#l2{
    background-color: #f46060;
    min-height: 50vh;
}

.contact{
    width: 100%;
    height: 80vh;
    padding: 30px 10px;
    margin-bottom: 60px;
    margin-top: 60px;
    color: #fff;
    background-color: #101010;
}

.contact-card{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    min-height: 40vh;
    font-family: 'Foggy', sans-serif;
    padding: 0  10px 0 45px;
    font-size: 30px;

}

.contact-card img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#contact-header{
    font-size: 40px;
    text-align: left;
    font-family: 'Favorit', sans-serif;
    padding: 0 50px;
}

form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 15px 50px 40px 50px;
    font-family: 'Favorit', sans-serif;
}

input{
    margin: 5px 0 10px 0;
    padding: 5px 0;
    width: 70%;
    font-family: 'Favorit', sans-serif;
}

.footer{
    font-family: 'Favorit', sans-serif;
    background-color: #f4f4f4;
    padding: 40px 80px;
    margin-top: 30px;
    font-size: 13px;
    width: 100%;
    margin-top: 40px;
}

.footer-links{
    padding: 30px 0;
}

.footer-links ul{
    list-style-type: none;
}

/* SCROLL ANIMATION */

.revealable{
    position: relative;
    transform: translateY(150px);
    opacity: 0;
    transition: all 2s ease;
}

.active{
    transform: translateY(0px);
    opacity: 1;
}